<h3>
  <i class="icon-pencil"></i> Questions
</h3>
<table class="table table-hover table-striped">
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <th><%= question.caption %></th>
        <td><%= question.description %></td>
        <td>
          <%= link_to [@examination, question], class: 'btn btn-primary' do %>
            <i class="icon-pencil"></i> 解答
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @questions %>

